@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gabarito:wght@800&family=Montserrat:wght@300&family=Outfit:wght@900&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'KCCMurukmuruk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCMurukmuruk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin:0; padding: 0;
    transition: all 0.2s linear;
    font-family: 'Ubuntu', sans-serif;
}

html {font-size: 10px; overflow-x: hidden; scroll-behavior: smooth;}

/* 10px 1rem  12px 1.2rem  14px 1.4rem  */

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 10rem;
    font-weight: 900;
    text-align: left;
    letter-spacing: .2rem;
    color:#007662;
    margin: 0;
}



p {font-size: 2.4rem;}

h3 {
    font-size: 2.8rem;
}

ul {
    list-style: none;
}

a { 
    text-decoration: none;
    color:#2b2b2b;
}

/* #loading {
    display: block;
    position: fixed;
    top:0;
    left: 0;
    width:100vw;
    height: 100vh;
    background-color: #FF76C7;
    z-index: 9999;
} */

.wrap {
    width: 100%;
}

section {
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 124rem;
    /* padding: 15rem 0; */
    margin: 0 auto;

}

.container .title {
   margin-top: 7rem;
}


/* 메인 영역 */
.main {
    width:100%;
    height: 100vh;
    background-color: #FFECCB;
    position: relative;
    overflow: hidden;
}


.main #mainnav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5rem;
}




.main #mainnav li a{
     display: inline-block;
    font-size: 3.4rem;
    font-weight: 900;
    color:#007662;
    font-family: 'Tilt Neon', sans-serif;
    letter-spacing: .1rem;
    line-height: 2;
}



/* hover  */
/* .main #mainnav li a::before {
    content:"";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #FF76C7;
    transition: all .5s;
}

.main #mainnav li a::after {
    content:"";
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #FF76C7;
    transition: all .5s;
}

.main #mainnav li a:hover:before,
.main #mainnav li a:hover:after {
    width: 50%;
} */

.main #mainnav li a:hover{
   color:#FF76C7;
}


/*   
.main #mainnav {
    position: fixed;
    bottom: 10%;
    left: 10%;
    z-index: 9999;
    display: block;
} */

/* .main .github{
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 9999;
    
} */


/* 
.main .github i {
    font-size: 2.4rem;
    margin-left: .5rem;
    transition: all .3s linear;
    color:#007662;
} */

.main-content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 998;
    /* opacity: 0; */
}

.main-content .bg{
    width: 90%;
    height: 1110px;
    max-height: 100%;
    border-radius: 555px;
    position: absolute;
    top: 20%;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    transition: all .3s linear;
    z-index: 9999;
    background-color:#FFC570;
    border:20px double white;
}

.main-content .bg .main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    width:100%;
    height: 100%;
    position: absolute;
    top: -14%;
}

.main-content .bg .main-text .main-h1 {
    font-family: 'yg-jalnan';
    margin:0;
}

.main-content .bg .main-text .left {
    display: flex;
    flex-direction: column;
    text-align: right;
    color:#007662;
}

.main-content .bg .main-text span {
    display: inline-block;
    font-size: 2.8rem;
    font-family: "EF_watermelonSalad";
}
/* 중간 구분선 */
.main-content .bg .main-text .line {
    display: inline-block;
    width:.8rem;
    height: 20%;
    border-radius: 1rem;
    background-color: #fff;
}

.main-content .bg .main-text .left .main-h1 {
    font-size:12rem
}

.main-content .bg .main-text .right .main-h1 {
    text-align: left;
    color:#fff;
    letter-spacing: .5rem;

}


#ham-btn {
    /* border:1px solid green; */
    width: 5rem;
    /* margin: 0 20px; */
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 9999;
    display: none;

}

#ham-btn span {
    display: block;
    background-color: #007662;
    width: 100%;
    height: 8px;
    margin-bottom: 6px;
    border-radius: 8px;
    transition: all 0.35s;
}





@media (max-width:1024px) {

    .main-content .bg .main-text{
        gap: 0;
    }

    .main-content .bg .main-text span {
        text-align: left;
    }

    .main-content .bg .main-text .left .main-h1 {
        font-size: 9rem !important;
    }

    .main-content .bg .main-text .right .main-h1 {
        text-align: left;
        font-size: 7rem !important;
    }

    h1 {
        font-size: 7rem;
    }

    .container .title,
    .container .title h1{
        text-align: center;
    }

     .main-content .bg{
        width:100%;
        height:100vh;
        border-radius: 0;
        top:0;
        box-sizing: border-box;
    }

    .main-content .bg .main-text{
        flex-direction: column;
        /* padding-top: 20rem; */
        top:0;
    }

    .main #mainnav,
    .main-content .bg .main-text .line{
        display: none;
    }

    #ham-btn{
        display: block;
    }


    /* 어바웃 */

    .content-left {
        order: 2;
        
    }

    .content-right {
        order: 1;
        
    }

    .skillboxwrap span {margin: 4rem 0 1rem 0;}
    .skillbox {
        grid-template-columns: repeat(4,1fr) !important;
        row-gap: 2rem;
    }

    /* 포폴 */
    .content-slider .slide .text {
        flex-direction: row !important;
        align-items: flex-end;
    }




    /* contact */
    .contact .container .inner {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .contactbox {
    }
    .contactbox .box-row {
        flex-direction: column !important;
    }


}


/* about 영역  */

.container.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about {
    position: relative;
}

/* .section {
    opacity: 0;
    transform: translateY(10%);
    transition: all .5s ease-in-out;
}


.section.on{
    opacity: 1;
    transform: translateY(0);
} */


.about .title-text {
    text-align: center;
    width: 100%;
    padding: 4rem 0;
    background-color: #fffdf9;
    border: 2px dotted #FFC570;
    line-height: 1.5;
    font-size: 2.4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0.4rem 0.4rem 0.3rem 0.1rem;
}

.about .title-text span {
    font-family: 'JeonjuCraftGoR';
    display: block;
}


@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

/* MBTI */
.mbtiwrap{
    display: flex; 
    flex-direction: column;
    width: 100%;
    text-align: right;
    margin-bottom: 7rem;
}


.mbtiwrap .text span {
    font-family: 'JeonjuCraftGoR';
}

.mbtiwrap .small span{
    color:#FFC570;
    font-size:3.2rem;
}

.mbtiwrap .medium span{
    color:#FFC570;
    font-size: 6rem;
}

.mbtiwrap .large span{
    color:#EFEFEF;
    font-family: 'yg-jalnan';
    font-size: 12rem;
}
   
.mbtiwrap .large .orange{
    color:#FFC570;
    margin-left: .3rem;
}


.mbtiwrap .sentence span {
    font-size:2.4rem;
    line-height: 1.5;
    font-family: 'JeonjuCraftGoR';
}

.container.about2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.about2-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.3rem;
    box-sizing: border-box;
}


/* 기술스택 */

.skills {
}

.skillboxwrap{
    /* border: 1px solid red; */
    
}
.skillboxwrap span{
    margin-top: 40px;
    color: #ffffff;
    font-size: 2rem;
    display: inline-block;
    padding: 9px 23px;
    background-color: #2b2b2b;
    border-radius: 1rem;
    font-weight: 100;
    font-family: 'Montserrat';

}


.textbox {
    margin-bottom: 2rem;
}
.textbox span{
    display: block;
    font-size:6rem;
    font-weight: 600;
    font-family: 'yg-jalnan';
    color: #2b2b2b;
}



/* .textbox .accent::after {
    z-index: -1;
    position: absolute;
    bottom:0;
    left: 0;
    content: "";
    width:100%;
    height: 60%;
    background-color: #ffc570;
    opacity: 1;
} */

.skillbox{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center; 
    align-items: center; 
    margin-top: 2rem;
}

.skill {
    width:7rem;
    height: 7rem;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: -.4rem .1rem .5rem .2rem rgba(0,0,0,0.15);
    padding: 1rem; /* 여백을 .skill 요소에 추가 */
    display: flex; /* 내부 내용을 가운데 정렬하기 위해 Flexbox를 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    margin-right:1rem
}

.skill img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.skills i {
    font-weight: 100;
    margin-right: .8rem;
}


/* 내프로필이미지넣기 */
.content-right{
    text-align: center;
    border-radius: 3rem;
    display: flex;
    align-items: end;

}

.content-right img{
    display: block;
    width: 500px;
    height: auto;
    border-radius: 3rem;
    /* padding: 20px; */
}



/* 포트폴리오 영역 */

/* 포폴 컨텐츠 안에있는 폰트패밀리 통일 */
.detail > * {
    font-family: 'JeonjuCraftGoR';
    font-weight: 300;
}


.detail .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.detail h3 {
    font-weight: 500;
    font-size: 3.8rem;
    margin-bottom: .4rem;
    color: #2b2b2b;
    font-family: 'JeonjuCraftGoR';
}



/* 포트폴리오 */

.container.portfoilo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.portfoilo h1 {
    margin-bottom: 0;
}



.portfoilo .title {
    width:100%;
    /* border:1px solid blue; */
}

.portfoilo .title .text {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 3.8rem;
    line-height: 1.4;
    color:#2b2b2b;
}



.content-slider {
    margin-top: 12rem;
}

.content-slider .slide {
    box-shadow: 1px 1px 15px 7px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 3rem;
    box-sizing: border-box;
    z-index: 9999;
    color:#2b2b2b;
    overflow: hidden;
    position: relative;
}

.content-slider .slide .after{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width:100%;
    height:0%;
    bottom: 0;
    left: 0;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s linear;
    /* display:block; */
}

.content-slider .slide .after p{
    color:#d7b5b5;
}

.content-slider .slide .text {
    flex: 1 1 70rem;
    padding: 5rem;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    justify-content: space-between;
    box-sizing: border-box;
    text-align: left;
}

.keyword {
    margin-top: 2rem;
}

.keyword p {
    display: inline-block;
    /* text-transform: uppercase; */
    font-weight: 500;
    color: #fff;
    border-radius: 1rem;
    font-size: 1.6rem;
    background-color: #2b2b2b;
    padding: 6px 24px;
    margin-bottom: 1.4rem;
    font-family: 'Montserrat';
}

.keyword .key-box{
    display: flex;
    gap: 1.4rem;
}

.keyword .key-box div {
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
    border-radius: 50%;
    text-align: center;
    box-shadow: -0.4rem 0.1rem 0.5rem 0.2rem rgba(0,0,0,0.15);
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: 500;
    text-transform: lowercase;

}

.content-slider .slide .text span {
    font-size: 1.8rem;
    color: #2b2b2b;
}

.content-slider .slide .text p {
    line-height: 1.3;
    text-transform:uppercase;
}

.content-slider .slide .thumbnail{
    flex: 1 1 45rem;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.content-slider .slide .thumbnail img{
    width: 100%;
    height: auto;
    display: block;
}


/* 포트폴리오 READ MORE 버튼 */
.content-slider .slide .button a {
    display: inline-block;
    font-size: 2rem;
    padding: 1.4rem 4rem;
    border-radius: 1rem;
    background-color: #FF76C7;
    /* background-color: #00c89d; */
    color: #fff;
    font-family: 'Montserrat';
    box-shadow: rgba(0, 0, 0, 0.15) 0.4rem 0.4rem 0.3rem 0.1rem;
}

.content-slider .slide .button a:hover {
    animation: jelly 0.5s;
}



/*  contact 영역  */

.container.contact {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.contact {
    background-color: #FFC570;
}
.contact .container {
    padding-top: 0;
}

.contact .container .title h1{
    margin-bottom: 0;
}


/* 굵게ㄱㄱ */
.contact .container .title .text {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 3.8rem;
    line-height: 1.4;
    color: #2b2b2b;
}

.contact .container .inner {
    width: 100%;
    padding-top:4rem;
    display: flex;
    justify-content: center;
    font-size: 2rem; 
}

.contactbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contactbox .box-row {
    display: flex;
    flex-direction: row;
    gap: 3rem;

}


.contactbox .box-row .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:.5rem;
}

.contactbox .box-row .col .bold {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    color: #007662;
}

.contactbox .box-row .col span {
    font-family: 'Montserrat';
}


/* 컨택트 버튼  */

.btn-row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.btn-row a {
    display: inline-block;
    width: 15.7rem;
    height: 5rem;
    font-size: 1.6rem;
    line-height: 5rem;
    text-align: center;
    color: #007662;
    border-radius: 1rem;
    background-color: #e0e0e0;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    box-shadow: 0.4rem 0.4rem 0.3rem 0.1rem rgba(0,0,0,0.15);
}

.btn-row i {
    margin-left: .8rem;
    font-size: 1.8rem;
}

.btn-row a:hover{
    animation: jelly 0.5s;
}
/* .contact .container .inner .box {
    width:50%;
}

.contact .container .inner .box.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}



.contact .container .inner .box.right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact .container .inner .box input {
    display: block;
    width: 100%;
    height: 3.7rem;
    border-radius: 1rem;
    border-style: none;
}

.contact .container .inner .box.right .input{
    margin-bottom: 1.2rem;
}
.contact .container .inner .box.right span {
    font-family: "EF_watermelonSalad";
    font-size: 1.9rem;
    margin-bottom:.8rem;
    display: block;
}

.contact .container .inner .box.right textarea {
    display: block;
    width: 100%;
    height: 20rem;
    border-style: none;
    border-radius: 1rem ;
}

.contact .container .inner .contact-row {
    padding-bottom: .8rem;
}

.contact .container .inner .contact-row h1{
    color: #007662;
    font-size: 3.5rem;
    font-weight: 900;
}

.contact .container .inner span {
    color: #2b2b2b;
    font-size: 3.5rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
}

.contact .container .inner .box .btn{
    background-color: #fff;
    width: 30%;
    height: 4rem;
    line-height: 4rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.6rem;
}
r .box .btn.left {
    background-color: #007662;
    color: #fff;
    width: 40%;
    height: 6rem;
    line-height: 6rem;
    font-size: 2.4rem;
    font-weight: 900;
    text-transform: uppercase;
}

.contact .container .inner .box .btn.left a {
    color: #fff;
}

.contact .container .inner .box .btn:hover{
    cursor: pointer;
    animation: jelly 0.5s;
} */

/* footer 영역 */
.footer {
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 2rem;
    background-color: #FFECCB;
}



/********* 애니메이션  *********/

/* 이모지 아이콘 애니메이션 */
.emoji {
    display: inline-block;
    animation-name: vibration;
    animation-duration: 2000ms;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes vibration {
    0%{
      transform: rotate(5deg);
      transform-origin: 50% 80%;
    }
    20%{
      transform: rotate(-5deg);
      transform-origin: 50% 80%;
    }
    40%{
      transform: rotate(10deg);
      transform-origin: 50% 80%;
    }
    60%{
      transform: rotate(-7deg);
      transform-origin: 50% 80%;
    }
    80%{
      transform: rotate(3deg);
      transform-origin: 50% 80%;
    }
    100%{
      transform: rotate(0deg);
      transform-origin: 50% 80%;
    }
  }

/* 버튼 hover 젤리 애니메이션*/

  @keyframes jelly {
    25% {
      transform: scale(0.9, 1.1);
    }
  
    50% {
      transform: scale(1.1, 0.9);
    }
  
    75% {
      transform: scale(0.95, 1.05);
    }
  }




/* MBTI 텍스트  */
@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 39ch;
    }
}

/* MBTI 텍스트 - 바운스1 */
@keyframes bounce {
    10% {transform: translateY(5%);}
    25% {transform: translateY(-30%);}
    50% {transform: translateY(0%);}
    75% {transform: translateY(-10%)}
    100% {transform: translateY(0%)}
}
/* MBTI 텍스트 - 바운스2 */
@keyframes textmotion {
    10% {margin-top: 0%;}
    25% {margin-top: -1%;}
    70% {margin-top: 0%;}
    100% {margin-top: -1%;}
}

